.profileContainer {
  width: 350px;
  border: 3px solid #282828;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.profileContainer:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}


.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #282828;
  margin-top: 10px;
}


.userName {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.details {
  color: gray;
  font-size: 16px;
  margin: 5px 0;
}


.profileList {
  list-style: none;
  padding: 0;
  margin: 7px 0 0 0;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #7a7a7a;
  background-color: rgb(212, 205, 205);
}

.listItem {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  border-right: 2px solid #7a7a7a;
}


.listItem:last-child {
  border-right: none;
}


.listSpan {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-top: 5px;
}
