.table {
  max-width: 800px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.table th,
td {
  border: 1px solid #282828;
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #464646;
  color: white;
  font-weight: bold;
  text-align: center;
}

.table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}

.table tbody tr:hover {
  background-color: #d1d1d1;
}
